nte-navbar {
  &.is-scrolled {
    --bg: rgb(from var(--nt-white) r g b / 1);
  }
}

nte-navbar.autoborder {
  --border-color: var(--nt-light);
  &.is-scrolled {
    &::part(navbar) {
      border-bottom: 1px solid rgb(from var(--border-color) r g b / 0.1);
    }
  }
}

nte-navbar.autoshadow {
  --shadow-color: var(--nt-dark);
  --shadow: 0 2px 4px rgb(from var(--shadow-color) r g b / 0.1);
  &::part(navbar) {
    transition: box-shadow 0.5s ease-in-out;
  }
  &.is-scrolled {
    &::part(navbar) {
      box-shadow: var(--shadow);
    }
  }
}

nte-navbar.fixed {
  &::part(navbar) {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
  }
}

// Autohide

nte-navbar.autohide {
  &::part(navbar) {
    transition: transform 0.3s ease-in-out;
  }
  &.state-pre-scrolled.state-scrolling-down {
    &::part(navbar) {
      transform: translateY(-100%);
    }
  }
  &.state-pre-scrolled.state-scrolling-up {
    &::part(navbar) {
      transform: translateY(0);
      position: fixed;
      top: 0;
      left: 0;
      opacity: 1;
      width: 100%;
    }
  }
  &.state-scrolled {
    &::part(navbar) {
      position: fixed;
      top: 0;
      left: 0;
      opacity: 1;
      width: 100%;
      transform: translateY(-100%);
    }
    &.state-scrolling-up {
      &::part(navbar) {
        transform: translateY(0);
        position: fixed;
        top: 0;
        left: 0;
        opacity: 1;
        width: 100%;
      }
    }
  }
}
