// All Row Styles go here

.nav-horizontal {
  &.pos-start {
    --justify-content: flex-start;
  }

  &.pos-end {
    --justify-content: flex-end;
  }

  &.pos-center {
    --justify-content: center;
  }

  &.pos-stretch {
    & > ul {
      display: flex;
      > li {
        flex-grow: 1;
        > a {
          width: 100%;
          justify-content: center;
        }
      }
    }
  }

  --item-padding: 0.65em 1.1em;
  --padding: 0;

  &.size-sm {
    --item-padding: 2px 15px;
    --item-margin: 2px 0.2em;
    --font-size: 0.6rem;
  }

  &.style-pills {
    --pill-background: rgba(var(--nt-primary-rgb), 0.8);
    --pill-radius: 0.5em;
    --pill-text-color: var(--nt-text-on-primary);
    --pill-hover-background: rgba(var(--nt-primary-rgb), 1);
    > ul > li > a {
      background: var(--pill-background);
      border-radius: var(--pill-radius);
      --text-color: var(--pill-text-color);
      transition:
        background var(--transition),
        color var(--transition);

      &:hover,
      &:focus {
        background: var(--pill-hover-background);
        --font-color: var(--pill-text-color);
      }

      &.active,
      &:active {
        background: var(--pill-hover-background);
        --font-color: var(--pill-text-color);
      }
    }
  }

  &.style-undecorated {
    --item-padding: 0.65em 1.1em;
    --item-margin: 0;
    --text-color: var(--nt-text);
    --hover-color: transparent;
    --submenu-hover-color: var(--nt-primary);
    --hover-text-color: var(--nt-text);
    --submenu-bg: var(--nt-light);
    --submenu-text-color: var(--nt-text);

    a,
    a > * {
      color: rgb(from var(--text-color) r g b / var(--default-alpha));
      transition: color var(--transition);
    }
    a:hover,
    a:hover > * {
      color: rgb(from var(--text-color) r g b / 1);
    }
  }

  ul {
    list-style: none;
    padding: var(--padding);
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 100%;

    justify-content: var(--justify-content);

    > li,
    li {
      position: relative;
      display: flex;
      align-items: center;
      height: inherit;

      > a {
        display: flex;
        align-items: center;
        margin: var(--item-margin, 0);
        height: 100%;
        padding: var(--item-padding);
        gap: 0.5em;
        text-decoration: none;
        color: var(--text-color);
        transition:
          background var(--transition),
          color var(--transition);
        font-weight: 500;

        &.active,
        &:active {
          background: var(--hover-color);
          color: var(--hover-text-color);
        }

        &:hover,
        li:hover > & {
          background: var(--hover-color);
          color: var(--hover-text-color);
        }

        /* Animations for icons and caret */
        &:after {
          content: '';
          display: none;

          margin-left: 0.47em;
          margin-bottom: 0.08em;
          border: solid currentColor;
          border-width: 0 2px 2px 0;
          padding: 3px;
          transform: rotate(45deg) scale(0.8);
          opacity: 0;
          transition:
            opacity var(--transition),
            transform var(--transition);
        }
      }

      /* mark li's with submenu, show caret only if submenu exists */
      &:has(ul) > a:after {
        opacity: 0.55;
        display: inline-block;
      }

      &:active > a:after,
      &:focus-within > a:after {
        transform: rotate(-135deg) scale(0.85);
      }

      > ul {
        display: block;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        min-width: 11rem;
        background: var(--submenu-bg) !important;
        position: absolute;
        top: 100%;
        left: 0;

        &:last-child {
          right: 0; // Align last submenu to the right (prevents overflow)
          left: auto;
        }

        margin-top: 0.3em;
        flex-direction: column;
        z-index: 3;
        transition:
          opacity var(--transition),
          transform var(--transition),
          visibility var(--transition);
        transform: translateY(-0.7em);

        &:hover,
        &:focus-within {
          visibility: visible;
          opacity: 1;
          pointer-events: all;
          transform: translateY(0);
        }

        > li {
          display: flex;
          height: auto;
          background: var(--submenu-bg);
          > a {
            display: block;
            width: 100%;
            color: var(--text-color);
            padding: 0.63em 1.3em;
            font-size: 0.99em;
            font-weight: 400;
            height: auto;
            transition:
              background var(--transition),
              color var(--transition);

            &:hover {
              background: var(--submenu-hover-color);
              color: var(--hover-text-color);
            }
          }
        }
      }

      &:focus-within > ul {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
      }
    }
  }
}
