nte-navbar-line {
  [slot='brand'] {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    img {
      height: var(--brand-height);
      max-height: 100%;
      max-width: 100%;
      width: auto;
      object-fit: contain;
    }
    a,
    div {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-decoration: none;
      width: 100%;
    }
  }
}
